.nav-link {
  text-decoration: none;
  color: #FF6838;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  text-align: center;

  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-link:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 400px) {
  .nav-link {
    font-size: 12px;
    line-height: 15px;
  }
}